<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Firtsname:</strong>
    <%= child.firtsName %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= child.age %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= child.picture %>
  </p>

  <p>
    <strong>City:</strong>
    <%= child.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= child.country %>
  </p>

</div>
