<div id="<%= dom_id artwork %>">
  <p>
    <strong>Dessin:</strong>
    <img src="<%= artwork.draw %>">
  </p>

  <p>
    <strong>Titre de l'oeuvre:</strong>
    <%= artwork.title %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= artwork.author %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= artwork.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artwork.description %>
  </p>

</div>
